body{
    background: rgb(236, 145, 236);
}

img{
    display:block;
    margin:auto;
    max-width: 20%;
    max-height: 20%;
}

h1,h2,p{
    text-align: center;
}

input{
    border-radius: 5px;
    background-color: rgb(235, 248, 53);
    width: 10%;
}